@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wdth,wght@100,400..700&family=DM+Sans:wght@300;400;500;600;700&family=DM+Mono:wght@400;500&display=swap');
@import 'tailwindcss';

@theme inline {
  --font-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'DM Mono', ui-monospace, monospace;
}

* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
